<div class="flex flex-column align-items-center">
  <div
    class="pixel-grid"
    [style.--grid-size]="size()"
    [formGroup]="form"
  >
    <div *ngFor="let x of indexArray">
      <p-toggleButton
        *ngFor="let y of indexArray"
        [onLabel]="showValues() ? '1' : ''"
        [offLabel]="showValues() ? '0' : ''"
        formControlName="{{ x * size() + y }}"
        [styleClass]="
          form.get((x * size() + y).toString())?.value ? 'black' : 'white'
        "
      >
      </p-toggleButton>
    </div>
  </div>
</div>
