<div class="grid">
  <p-card class="col-12 md:col-2">
    <div class="flex flex-column align-items-center">
      <p-avatar
        image="https://raw.githubusercontent.com/ElPlatypo/about-me/refs/heads/main/src/assets/images/MRplatypus.png"
        shape="circle"
        size="xlarge"
      >
      </p-avatar>
      <div class="mt-2 flex gap-2">
        <a
          href="https://github.com/ElPlatypo"
          pButton
          icon="ph ph-github-logo ph-xl"
          rounded="true"
          style="text-decoration: none"
        >
        </a>
        <a
          href="mailto:dighero.tommaso@gmail.com"
          pButton
          icon="ph ph-envelope ph-xl"
          rounded="true"
          style="text-decoration: none"
        >
        </a>
      </div>
      <h5>Heyo! nice to meet you!</h5>
    </div>
  </p-card>
  <p-card class="col-12 md:col-10">
    <h4>
      Welcome to my personal website, feel free to check the About page to learn
      more about me, or click on the posts below to see what i am working on!
    </h4>
  </p-card>
  <p-card class="col-12 md:col-12">dwawad</p-card>
</div>
