<div class="grid">
  <div class="col-1 md:col-3"></div>
  <div class="central-column">
    <h1>All posts</h1>
    <h2>2024</h2>
    <app-post
      title="Building a cyberdeck"
      date="31-8"
      image="videos/noaa.gif"
      class="w-full"
      postRoute="8"
    ></app-post>
    <app-post
      title="Building a desktop power supply"
      date="14-9"
      image="videos/power-supply.gif"
      class="w-full"
      postRoute="desktop-psu"
    ></app-post>
    <h2>2023</h2>
    <app-post
      title="Receiving images directly from satellites"
      date="31-08"
      image="videos/noaa.gif"
      class="w-full"
      postRoute="noaa-images"
    ></app-post>
    <app-post
      title="Particle simulation"
      date="14-07"
      image="images/gridinit.png"
      class="w-full"
      postRoute="particle-simulation"
    ></app-post>
    <app-post
      title="Spoodl"
      date="13-05"
      image="videos/mixxx.gif"
      class="w-full"
      postRoute="spoodl"
    ></app-post>
    <h2>2022</h2>
    <app-post
      title="Nexus"
      date="25-10"
      image="images/nexusflow.png"
      class="w-full"
      postRoute="nexus"
    ></app-post>
    <app-post
      title="Nasa Image Downloader"
      date="12-05"
      image="videos/orbit.gif"
      class="w-full"
      postRoute="nasa-image-downloader"
    ></app-post>
    <app-post
      title="Casting aluminum components"
      date="07-01"
      image="videos/aluminumquench.gif"
      class="w-full"
      postRoute="casting-aluminum-components"
    ></app-post>
  </div>
  <div class="col-1 md:col-3"></div>
</div>
