<div class="grid">
  <div class="col-1 md:col-3"></div>
  <div class="central-column">
    <h1>Building A Desktop Power Supply</h1>
    <img src="videos/power-supply.gif" style="width: 100%" />
    <p>
      I have always worked with electronic components, however i never owned a
      lab-grade power supply, with regulable voltage output and all the safety
      features. The other day i realized i had a spare ATX power supply that was
      previously on an old computer and i wondered if there was some way to use
      adapt it for my usecase.
    </p>
    <p>
      After doing some research i found out that this idea had been already
      tested and validated by a few people online witch gave me the confidence
      to try it myself. Taking inspiration from their designs i created a design
      in blender that would fit my components, spaces and personal taste:
    </p>
    <img src="images/psu-blender.png" style="width: 100%" />
    <p>
      After the initial design was done i bought some fresh filament for my 3D
      printer and started making all the pieces that i would need, wich took
      about 3/4 days of printing, accounting for a few mistakes along the way
    </p>
    <p>
      I then started looking online for all the small additional components that
      i would need, such as a buck boost converter, a usb hub, a few fuses and
      connectors and bought some to try out
    </p>
    <img src="images/psu-open.jpg" style="width: 100%" />
    <p>
      Once this hell of a soldering job was done i validated that everything
      worked correctly and i was very pleased when everything did. I now have a
      pretty decent desktop psu, capable of outputting up to about 250W per lane
      (Buck boost, 12V, 5V, 3.3V). Here's a short demo where i increase the
      speed of a simple DC motor by adjusting the voltage: 
    </p>
    <video controls style="width: 100%">
      <source src="videos/psu-demo.mp4" type="video/mp4" />
    </video>
  </div>
  <div class="col-1 md:col-3"></div>
</div>
