::ng-deep .p-card-body {
  padding: 0.5rem !important;
}

.bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  filter: blur(5px);
  transition: filter 0.2s ease, transform 0.3s ease;
}

.title-text {
  position: relative;
  z-index: 1;
  background: rgba(0, 0, 0, 0.3);
  padding: 1rem;
  border-radius: inherit;
}

.hover-effect {
  cursor: pointer;
}

.hover-effect:hover .background-blur {
  filter: none;
  transform: scale(1.05);
}
