@import "primeng/resources/themes/aura-dark-amber/theme.css";
@import "primeng/resources/primeng.css";
@import "primeflex/primeflex.css";
@import "../node_modules/@phosphor-icons/web/src/regular/style.css";
@import "../node_modules/@phosphor-icons/web/src/fill/style.css";

html {
  background-color: var(--background-color);
}

body {
  margin: 0;
}

.ph-lg {
  font-size: 1.3333em;
  line-height: 0.75em;
  vertical-align: -0.0667em;
}

.ph-xl {
  font-size: 2em;
  line-height: 0.6666em;
  vertical-align: -0.075em;
}
