@import "primeng/resources/themes/aura-dark-amber/theme.css";
@import "primeng/resources/primeng.css";
@import "primeflex/primeflex.css";
@import "../node_modules/@phosphor-icons/web/src/regular/style.css";
@import "../node_modules/@phosphor-icons/web/src/fill/style.css";

html {
  background-color: var(--background-color);
}

body {
  margin: 0;
}

.ph-lg {
  font-size: 1.3333em;
  line-height: 0.75em;
  vertical-align: -0.0667em;
}

.ph-xl {
  font-size: 2em;
  line-height: 0.6666em;
  vertical-align: -0.075em;
}

.central-column {
  width: 83.3333%; /* col-10 */
  display: flex; /* flex */
  flex-direction: column; /* flex-column */
  align-items: center; /* align-items-center */
  gap: 1rem;
}

@media (min-width: 768px) {
  /* md:col-6 */
  .central-column {
    width: 50%;
  }
}

.code-block {
  font-family: monospace;
  font-size: large;
  font-weight: bold;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 5px;
  border-radius: 4px;
  border: 1px solid var(--primary-color);
  white-space: pre-wrap; /* Preserves spacing and line breaks */
  display: block; /* Makes it a block element */
}

.code-snippet {
  font-family: monospace;
  font-size: large;
  font-weight: bold;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  padding: 5px;
  border-radius: 4px;
  border: 1px solid var(--primary-color);
  white-space: pre-wrap; /* Preserves spacing and line breaks */
  display: inline-block; /* Makes it a block element */
}

.highlight {
  font-family: monospace;
  font-size: large;
  font-weight: bold;
  color: var(--primary-color);
}

h1 {
  color: var(--primary-color) !important;
}