<div *ngIf="!loading()" class="card">
  <svg
    class="network-visualizer"
    [attr.width]="'100%'"
    [attr.height]="'100%'"
    [attr.viewBox]="'0 0 ' + baseWidth + ' ' + baseHeight"
    preserveAspectRatio="xMidYMid meet"
  >
    <!-- Lines for weights -->
    <ng-container *ngFor="let layer of neurons(); let i = index">
      <ng-container *ngIf="i < neurons().length - 1">
        <ng-container *ngFor="let neuron of layer; let j = index">
          <ng-container
            *ngFor="let nextNeuron of neurons()[i + 1]; let k = index"
          >
            <line
              [attr.x1]="getNeuronX(i)"
              [attr.y1]="getNeuronY(j, layer.length)"
              [attr.x2]="getNeuronX(i + 1)"
              [attr.y2]="getNeuronY(k, neurons()[i + 1].length)"
              [attr.stroke]="getLineColor(i, j, k)"
              [attr.stroke-width]="2"
            />

            <!-- Display Weights at Midpoint (if showWeights is true) -->
            <ng-container *ngIf="showWeights()">
              <text
                [attr.x]="getMidpointX(i, j, i + 1, k)"
                [attr.y]="getMidpointY(i, j, i + 1, k)"
                text-anchor="middle"
                font-weight="bolder"
                font-size="12"
                fill="#ffffff"
              >
                {{ weights()[i][j][k] | number }}
              </text>
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>

    <!-- Neurons and their values -->
    <ng-container *ngFor="let layer of neurons(); let i = index">
      <ng-container *ngFor="let neuron of layer; let j = index">
        <circle
          [attr.cx]="getNeuronX(i)"
          [attr.cy]="getNeuronY(j, layer.length)"
          [attr.r]="neuronRadius"
          [attr.fill]="getCircleColor(i, j)"
          [attr.border-color]="'#ffffff'"
        />

        <text
          [attr.x]="getNeuronX(i)"
          [attr.y]="getNeuronY(j, layer.length) + 5"
          text-anchor="middle"
          font-weight="bolder"
          font-size="12"
          fill="#000000"
        >
          {{ neuron | number }}
        </text>
      </ng-container>
    </ng-container>
  </svg>
</div>
<div *ngIf="playgroundMode()">
  <div [formGroup]="form" class="w-full flex justify-content-between mb-5">
    <div class="flex flex-column align-items-center">
      <h3>Layer 1 neurons: {{ _neuronsPerLayer()[0] }}</h3>
      <p-slider
        formControlName="layer1Neurons"
        (onChange)="changeNeurons($event.value, 0)"
        [step]="1"
        [min]="1"
        [max]="5"
        styleClass="w-14rem"
      />
    </div>
    <div class="flex flex-column align-items-center">
      <h3>Layer 2 neurons: {{ _neuronsPerLayer()[1] }}</h3>
      <p-slider
        formControlName="layer2Neurons"
        (onChange)="changeNeurons($event.value, 1)"
        [step]="1"
        [min]="1"
        [max]="5"
        styleClass="w-14rem"
      />
    </div>

    <div class="flex flex-column align-items-center">
      <h3>Layer 3 neurons: {{ _neuronsPerLayer()[2] }}</h3>
      <p-slider
        formControlName="layer3Neurons"
        (onChange)="changeNeurons($event.value, 2)"
        [step]="1"
        [min]="1"
        [max]="5"
        styleClass="w-14rem"
      />
    </div>
  </div>
  <div class="w-full flex flex-row">
    <div class="col-6 flex justify-content-center">
      <h3 class="highlight">
        <span>Inputs: [ </span>
        <span *ngFor="let n of neurons()[0]; let i = index"
          >{{ n | number }}{{ neurons()[0].length - 1 === i ? "" : ", " }}</span
        >
        <span> ]</span>
      </h3>
    </div>
    <div class="col-6 flex justify-content-center">
        <h3 class="highlight">
          <span>Outputs: [ </span>
          <span *ngFor="let n of neurons()[2]; let i = index"
            >{{ n | number }}{{ neurons()[2].length - 1 === i ? "" : ", " }}</span
          >
          <span> ]</span>
        </h3>
      </div>
    <div class="col-6 flex justify-content-center"></div>
  </div>
  <div class="w-full flex justify-content-center gap-6">
    <p-button (onClick)="randomizeAndRecalculate()" label="randomize input">
    </p-button>
    <p-button (onClick)="initializeWeights()" label="randomize weights">
    </p-button>
  </div>
</div>
