<div class="w-full flex grid align-items-center mx-0">
  <ng-container *ngTemplateOutlet="inputDemoTemplate"></ng-container>
  <div [class]="inputDemo() ? 'col-8' : 'col-12'">
    <div *ngIf="!loading()" class="card custom-card">
      <ng-container *ngTemplateOutlet="svgTemplate"></ng-container>
    </div>
  </div>
</div>

<div *ngIf="playgroundMode() && !loading()">
  <ng-container *ngTemplateOutlet="layerSliders"></ng-container>
  <ng-container *ngTemplateOutlet="io"></ng-container>
  <ng-container *ngTemplateOutlet="playgroundButtons"></ng-container>
</div>

<ng-container *ngTemplateOutlet="trainDemoTemplate"></ng-container>

<!-- TEMPLATES -->

<ng-template #svgTemplate>
  <svg
    class="network-visualizer"
    [attr.width]="'100%'"
    [attr.height]="'100%'"
    [attr.viewBox]="
      '0 0 ' + network.gOpts.baseWidth + ' ' + network.gOpts.baseHeight
    "
    preserveAspectRatio="xMidYMid meet"
  >
    <!-- Lines for weights -->
    <ng-container *ngFor="let layer of network.neurons; let i = index">
      <ng-container *ngIf="i < network.neurons.length - 1">
        <ng-container *ngFor="let neuron of layer; let j = index">
          <ng-container
            *ngFor="let nextNeuron of network.neurons[i + 1]; let k = index"
          >
            <line
              [attr.x1]="getNeuronX(i, j)"
              [attr.y1]="getNeuronY(i, j)"
              [attr.x2]="getNeuronX(i + 1, k)"
              [attr.y2]="getNeuronY(i + 1, k)"
              [attr.stroke]="getLineColor(i, j, k)"
              [attr.stroke-width]="2"
            />

            <!-- Display Weights at Midpoint (if showWeights is true) -->
            <ng-container *ngIf="showWeights()">
              <text
                [attr.x]="getMidpointX(i, j, i + 1, k)"
                [attr.y]="getMidpointY(i, j, i + 1, k)"
                text-anchor="middle"
                font-weight="bolder"
                font-size="12"
                fill="#ffffff"
              >
                {{ network.weights[i][j][k] | number }}
              </text>
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-container>
    </ng-container>

    <!-- Neurons and their values -->
    <ng-container *ngFor="let layer of network.neurons; let i = index">
      <ng-container *ngFor="let neuron of layer; let j = index">
        <circle
          [attr.cx]="getNeuronX(i, j)"
          [attr.cy]="getNeuronY(i, j)"
          [attr.r]="network.gOpts.neuronRadius"
          [attr.fill]="getCircleColor(i, j)"
          [attr.border-color]="'#ffffff'"
        />

        <text
          [attr.x]="getNeuronX(i, j)"
          [attr.y]="getNeuronY(i, j) + 5"
          text-anchor="middle"
          font-weight="bolder"
          font-size="12"
          fill="#000000"
        >
          {{ neuron | number : "0.0-2" }}
        </text>
      </ng-container>
    </ng-container>
  </svg>
</ng-template>

<ng-template #inputDemoTemplate>
  <div *ngIf="inputDemo()" class="col-4">
    <h3>Click on pixels to toggle them</h3>
    <app-pixel-canvas
      [disabled]="false"
      (outputArray)="evaluate($event)"
    ></app-pixel-canvas>
  </div>
</ng-template>

<ng-template #layerSliders>
  <div [formGroup]="form" class="w-full flex justify-content-between mb-5">
    <div class="flex flex-column align-items-center">
      <h3>Layer 1 neurons: {{ neuronsPerLayer()[0] }}</h3>
      <p-slider
        formControlName="layer1Neurons"
        (onChange)="changeNeuronsForLayer($event.value, 0)"
        [step]="1"
        [min]="1"
        [max]="5"
        styleClass="w-14rem"
      />
    </div>
    <div class="flex flex-column align-items-center">
      <h3>Layer 2 neurons: {{ neuronsPerLayer()[1] }}</h3>
      <p-slider
        formControlName="layer2Neurons"
        (onChange)="changeNeuronsForLayer($event.value, 1)"
        [step]="1"
        [min]="1"
        [max]="5"
        styleClass="w-14rem"
      />
    </div>

    <div class="flex flex-column align-items-center">
      <h3>Layer 3 neurons: {{ neuronsPerLayer()[2] }}</h3>
      <p-slider
        formControlName="layer3Neurons"
        (onChange)="changeNeuronsForLayer($event.value, 2)"
        [step]="1"
        [min]="1"
        [max]="5"
        styleClass="w-14rem"
      />
    </div>
  </div>
</ng-template>

<ng-template #io>
  <div class="w-full flex flex-row">
    <div class="col-6 flex justify-content-center">
      <h3 class="highlight">
        <span>Inputs: [ </span>
        <span *ngFor="let n of network.neurons[0]; let i = index"
          >{{ n | number
          }}{{ network.neurons[0].length - 1 === i ? "" : ", " }}</span
        >
        <span> ]</span>
      </h3>
    </div>
    <div class="col-6 flex justify-content-center">
      <h3 class="highlight">
        <span>Outputs: [ </span>
        <span *ngFor="let n of network.neurons[2]; let i = index"
          >{{ n | number
          }}{{ network.neurons[2].length - 1 === i ? "" : ", " }}</span
        >
        <span> ]</span>
      </h3>
    </div>
    <div class="col-6 flex justify-content-center"></div>
  </div>
</ng-template>

<ng-template #playgroundButtons>
  <div class="w-full flex justify-content-center gap-6">
    <p-button (onClick)="randomizeInputs()" label="randomize input"> </p-button>
    <p-button (onClick)="randomizeWeights()" label="randomize weights">
    </p-button>
  </div>
</ng-template>

<ng-template #trainDemoTemplate>
  <div *ngIf="trainMode()">
    <div class="w-full flex flex-column align-items-center">
      <p-progressBar class="w-full mb-2" [value]="trainprogress" />
      <p-button
        (onClick)="train()"
        [disabled]="trainprogress > 0"
        type="button"
      >
        <div Ptemplate="content">
          @if (trainprogress === 0) {
          <h3 class="my-1">Start Training</h3>
          } @else if (trainprogress > 0 && trainprogress < 100){
          <h3 class="my-1">Training In Progress</h3>
          } @else {
            <h3 class="my-1">Training Completed</h3>
          }
        </div>
      </p-button>
    </div>
  </div>
</ng-template>
